.example-card {
  max-width: 400px;
  margin: 100px;

}

.example-card {
  height: 370px;
  width: 311px;
  position: relative;
  margin: 0px;
  box-shadow: 0px 0px 2px 4px rgb(0 0 0 / 3%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.example-header-image {
  background-image: url('https://www.sephora.com/productimages/sku/s1287606-main-zoom.jpg');
  width: 188px;
  right: 24px;
  position: relative;
}

.product-title{
  left: 99px;
  position: relative;
  top: 202px;
}
.product-info{
  position: relative;
  left: 99px;
  top: 45px;
}

.whole-products {
  position: relative;

}

.products-grid {
  top: 115px;
  margin: auto;
  position: relative;
  width: 67.8%;
  left: -75px;
  border: 3px solid lightpink;
  box-shadow: 6px 0px 49px rgb(0 0 0 / 25%), inset 500px 0 79px rgb(235 199 217 / 38%);
}
.megamenu-panel{
  position: absolute;
  right: 320px;
  bottom: 595px;
  width: 1029px;
  top: 9.6%;
}

