<div class="whole-products">
  <mat-grid-list cols="3" rowHeight="440px" class="products-grid">
    <mat-grid-tile *ngFor="let product of products">


      <mat-card class="example-card">
        <mat-card-header>
          <img class="example-header-image" [src]="transform('data:image/png;base64,' + product.pic)"
               alt="">
          <div class="product-title">
          <mat-card-title>{{product.productname}}</mat-card-title>
          </div>
        </mat-card-header>

        <!--        <img mat-card-image [src]=product.img alt="Photo of a product">-->
        <mat-card-content>
          <a mat-flat-button class="producer">{{product.company}}</a>
          <p class="producer-name">: شرکت سازنده</p>

<!--          <p class="price">-->
<!--            {{product.price}} $-->
<!--          </p>-->

        </mat-card-content>
        <mat-card-actions>

          <button mat-raised-button color="accent" class="adding-card-bot">
            <mat-icon>shopping_basket</mat-icon>
            {{product.price}} $ |
            اضافه کردن به سبد خرید
          </button>
        </mat-card-actions>
      </mat-card>


    </mat-grid-tile>
  </mat-grid-list>
</div>
<p-megaMenu class="megamenu-panel" [model]="items"></p-megaMenu>
