mat-toolbar-row:hover{
  background-color:#ff99ff;
}

.sidenav-toolbar{
  background-color:#ff99ff;
}

.home{
  width: 150px;
}
.type{
  top: 25%;
  position: fixed;
  width: 170px;
}

.color{
  top: 34%;
  position: fixed;
  width: 170px;
}

.skin{
  top:43%;
  position: fixed;
  width: 170px;
}
