

<p>
  <mat-toolbar class="whole-navbar" color="primary">
    <span>فروشگاه بمبی</span>
    <button mat-button class="account-icon" aria-label
            (click)="openDialog()"
    > {{loggedMessage}}
      <mat-icon class="acc-icon">{{account_icon}}</mat-icon>
    </button>

<!--    <label class="searchbar">-->
<!--      <input class="search_input" type="text" name="" placeholder="Search...">-->
<!--      <mat-icon class="search_icon">search</mat-icon>-->
<!--    </label>-->

<label class="space"></label>


<button
  mat-icon-button
  class="menu-icon"
  aria-label
  (click)="toggleSidenav()"
>
  <mat-icon>{{ menu_icon }}</mat-icon>
</button>

<app-sidebar [isOpenSN]="isShowing"></app-sidebar>


</mat-toolbar>



</p>
