.account-info {
  top: 94px;
  width: 50%;
  position: relative;
  left: 25px;

}

.example-full-width {
  width: 100%;
}
.state{
  background-color: rgba(0,0,0,.04);
}

td {
  padding-right: 8px;
}

.card{
  width: 1030px;
  left: 170px;
  height: 638px;
}
