mat-toolbar-row:hover{
  background-color:#ff99ff;
}

.sidenav-toolbar{
  background-color:#ff99ff;
}


.greasy{
  top: 25%;
  position: fixed;
  width: 170px;
}

.dry{
  top: 34%;
  position: fixed;
  width: 170px;
}

.all{
  top:43%;
  position: fixed;
  width: 170px;
}

.back{
  top:80%;
  position: fixed;
}


.back{
  top: 12%;
  position: absolute;
  width: 103px;
  left: 119px;
}

.back-icon{
  position: relative;
}

.home{
  left: 16px;
  width: 103px;
  position: absolute;
  top: 12%;
}
.home-icon{
  position: relative;

}
