.menu-icon {
  position: relative;
  float: left;
}
.space {
  flex: 1 1 auto;
}

.account-icon {
  color: rgb(239, 140, 252);
  position: absolute;
  width: 67px;
  height: 33px;
  left: 117px;
  top: 18px;
}

.whole-navbar{
  height: 70px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.search-box{
  position: absolute;
  left: 300px;
  width: 240px;
  height: 43px;
  top: 1%;
}
