<div class="whole-navbar">
  <p>
    <mat-toolbar class="whole-navbar" color="primary">
      <span>فروشگاه بمبی</span>
      <button mat-button class="account-icon" aria-label
      (click)="openDialog()"
      >
        <mat-icon>person_pin</mat-icon>
      </button>

      <mat-form-field class="search-box">
        <mat-label>Clearable input</mat-label>
        <input matInput type="text" [(ngModel)]="value">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <p class="space"></p>

      <button
        mat-icon-button
        class="menu-icon"
        aria-label
        (click)="toggleSidenav()"
      >
        <mat-icon>{{ menu_icon }}</mat-icon>
      </button>

      <app-sidebar [isOpenSN]="isShowing"></app-sidebar>


  </mat-toolbar>
  </p>
</div>
