.log-dialog {
  position: absolute;
  width: 650px;
  height: 450px;
  left: 26%;
  top: 14%;
  background: rgba(185, 142, 241, 0.99);
  box-shadow: 0px 6px 4px rgb(0 0 0 / 25%), inset 4px 0px 4px rgb(0 0 0 / 25%);
  border-radius: 14px;
}

.example-full-width {
  width: 100%;
}

.sign-in-text {
  position: relative;
  left: 114px;
  top: 50px;
  font-size: 170%;
}

.user-login {
  background-color: rgba(174, 123, 241, 0.99);
  position: absolute;
  width: 240px;
  height: 43px;
  left: 40px;
  top: 140px;
  // border-radius: 14px;
}

.pass-login {
  background-color: rgba(174, 123, 241, 0.99);
  position: absolute;
  width: 240px;
  height: 43px;
  left: 40px;
  top: 220px;
  // border-radius: 14px;
}

.sign-in-but {
  position: absolute;
  width: 240px;
  height: 43px;
  left: 40px;
  top: 350px;
}

.hr {
  position: absolute;
  width: 36px;
  height: 337.5px;
  left: calc(46% - 0px / 2 - 1.5px);
  top: 10%;
  mix-blend-mode: soft-light;
  opacity: 0.78;
  border: 15px solid #fad9ff;
  border-radius: 100px;
}

.sign-up-text {
  position: relative;
  left: 451px;
  top: 18px;
  font-size: 170%;
}


.user-register {
  background-color: rgba(174, 123, 241, 0.99);
  position: absolute;
  width: 240px;
  height: 43px;
  left: 380px;
  top: 108px;
}

.pass-register {
  background-color: rgba(174, 123, 241, 0.99);
  position: absolute;
  width: 240px;
  height: 43px;
  left: 380px;
  top: 183px;
}
.repass-register{
  background-color: rgba(174, 123, 241, 0.99);
  position: absolute;
  width: 240px;
  height: 43px;
  left: 380px;
  top: 258px;
}

.sign-up-but {
  position: absolute;
  width: 240px;
  height: 43px;
  left: 380px;
  top: 350px;
}
