<div class="log-dialog">
  <p class="sign-in-text">𝑺𝒊𝒈𝒏 𝑰𝒏</p>
  <form class="example-form">
    <mat-form-field class="user-login">
      <mat-label>Username</mat-label>
      <input type="text" matInput #loginuser maxlength="25" placeholder="Enter Your Username"/>
      <mat-hint align="end"></mat-hint>
    </mat-form-field>

    <mat-form-field class="pass-login" appearance="fill">
      <mat-label>Enter your password</mat-label>

      <input matInput #loginpass [type]="hide ? 'password' : 'text'" minlength="6" maxlength="26"
             [formControl]="lpasswordFormControl"/>


      <mat-error *ngIf="lpasswordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>

      <mat-hint align="end">{{ loginpass.value.length }} 6/25</mat-hint>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

      </button>
    </mat-form-field>
  </form>

  <button class="sign-in-but" mat-raised-button color="primary">Sign In</button>

  <hr class="hr"/>


  <p class="sign-up-text">𝑺𝒊𝒈𝒏 𝑼𝒑</p>
  <form>
    <mat-form-field class="user-register">
      <mat-label>Username</mat-label>
      <input type="text" matInput #reguser minlength="6" maxlength="25" placeholder="Enter Valid Username"/>
      <mat-hint align="end">{{ reguser.value.length }} 6/25</mat-hint>
    </mat-form-field>

    <mat-form-field class="pass-register">
      <mat-label>Password</mat-label>
      <input type="password" matInput #regpass minlength="6" maxlength="25" placeholder="Enter Valid Password"
             [formControl]="passwordFormControl"/>
      <mat-hint align="end">{{ regpass.value.length }} 6/25</mat-hint>

      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>

    </mat-form-field>

    <mat-form-field class="repass-register">
      <mat-label>re Enter Password</mat-label>
      <input type="password" matInput #regrepass minlength="6" maxlength="25" placeholder="Enter Valid Password"
             [formControl]="repasswordFormControl"/>
      <mat-hint align="end">{{ regrepass.value.length }} 6/25</mat-hint>

      <mat-error *ngIf="repasswordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>

    </mat-form-field>
  </form>

  <button class="sign-up-but" mat-raised-button color="primary">Sign Up</button>

</div>
