//@font-face {
//  font-family: Fontn;
//  src: url('src/Fonts/parastoo-font-v1.0.0-alpha5/web/Parastoo.eot');
//  font-weight: normal;
//  font-style: normal;
//}

mat-toolbar-row:hover{
  background-color:#ff99ff;
}

.sidenav-toolbar{
  background-color:#ff99ff;
}

.home{
  width: 150px;
}

.zed{
  top: 25%;
  position: fixed;
  width: 170px;
}

.martob{
  top: 34%;
  position: fixed;
  width: 170px;
}

.jhel{
  top:43%;
  position: fixed;
  width: 170px;
}


.back{
  top:80%;
  position: fixed;
}
