<mat-toolbar class="sidenav-toolbar">
  <div>
    <mat-toolbar-row>𝐵𝒶𝓂𝒷𝒾 𝒮𝒽𝑜𝓅</mat-toolbar-row>
  </div>
  <button mat-button aria-label class="home">
    <mat-toolbar-row>
      <mat-icon>home</mat-icon>
      𝘏𝘰𝘮𝘦
    </mat-toolbar-row>
  </button>

  <button mat-button aria-label class="zed">
    <mat-toolbar-row>
      <mat-icon> arrow_right</mat-icon>
      ضد آفتاب
    </mat-toolbar-row
    >
  </button>

  <button mat-button aria-label routerLink="" class="martob">
    <mat-toolbar-row>
      <mat-icon> arrow_right</mat-icon>
      مرطوب کننده
    </mat-toolbar-row>
  </button>

  <button mat-button aria-label routerLink="" class="jhel">
    <mat-toolbar-row>
      <mat-icon> arrow_right</mat-icon>
      ژل شست و شوی صورت
    </mat-toolbar-row>
  </button>

  <button mat-button aria-label class="back" routerLink="/sidebar/sidebar-catalogue/sidebar-catalogue-type">
    <mat-toolbar-row>
      <mat-icon>
        keyboard_backspace
      </mat-icon>
    </mat-toolbar-row>

  </button>
</mat-toolbar>
