

<app-navbar>


</app-navbar>

<img class= "side-image1" src= "assets/makeup1.jpg" alt="Side Img">
<img class="side-image2" src="assets/sidepage2.jpg" alt="Side Img">

<router-outlet></router-outlet>


<mat-toolbar class="theme" color="primary">
  <div class="flex-stretch"></div>
  <mat-icon class="mr-8">brightness_5</mat-icon>
  <mat-slide-toggle [formControl]="toggleControl"
                    class="mr-8">
  </mat-slide-toggle>
  <mat-icon>bedtime</mat-icon>

  <div>
    <a class="logo">𝐵𝒶𝓂𝒷𝒾 𝒮𝒽𝑜𝓅</a>
  </div>
  <img class="logobg" src="assets/logobg1.png" alt="logopic">

</mat-toolbar>

