.example-container {
  float: right;
}
// .example-container {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

mat-toolbar-row:hover{
background-color:#ff99ff;
}

.sidenav-toolbar{
  background-color:#ff99ff;

}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  float: right;
  background-color: #ff99ff;
}

.mat-drawer-content {
  background-color: white;
}
.mat-sidenav
{
  border-top-left-radius: 20px;
  left: 85%;
}
