<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    class="example-sidenav"
    mode="side"
    position="end"
    [opened]="isOpenSN"
    fixedInViewport="fixedBottomGap"
  >
    <mat-toolbar class="sidenav-toolbar">
      <div>
        <mat-toolbar-row>𝐵𝒶𝓂𝒷𝒾 𝒮𝒽𝑜𝓅</mat-toolbar-row>
      </div>
      <button mat-button aria-label>
        <mat-toolbar-row> <mat-icon>home</mat-icon> 𝑯𝒐𝒎𝒆 </mat-toolbar-row>
      </button>

      <button mat-button aria-label>
        <mat-toolbar-row> <mat-icon>person </mat-icon> 𝑼𝒔𝒆𝒓𝒔 </mat-toolbar-row>
      </button>

      <button mat-button aria-label>
        <mat-toolbar-row>
          <mat-icon>dashboard</mat-icon> 𝒄𝒂𝒕𝒂𝒍𝒐𝒈𝒖𝒆</mat-toolbar-row
        >
      </button>

      <button mat-button aria-label>
        <mat-toolbar-row
          ><mat-icon>settings</mat-icon> 𝑺𝒊𝒕𝒆 𝑺𝒆𝒕𝒕𝒊𝒏𝒈</mat-toolbar-row
        >
      </button>
    </mat-toolbar>
  </mat-sidenav>
</mat-sidenav-container>
