<mat-toolbar class="sidenav-toolbar">
  <div>
    <mat-toolbar-row>𝐵𝒶𝓂𝒷𝒾 𝒮𝒽𝑜𝓅</mat-toolbar-row>
  </div>
  <button mat-button aria-label class="home" >
    <mat-toolbar-row> <mat-icon class="home-icon">home</mat-icon></mat-toolbar-row>
  </button>

  <button mat-button aria-label class="account" >
    <mat-toolbar-row> <mat-icon >person </mat-icon> 𝘼𝙖𝙘𝙘𝙤𝙪𝙣𝙩 </mat-toolbar-row>
  </button>

  <button class="catalogue" mat-button aria-label routerLink="/sidebar/sidebar-catalogue">
    <mat-toolbar-row>
      <mat-icon>dashboard</mat-icon> 𝘊𝒂𝒕𝒂𝒍𝒐𝒈𝒖𝒆 </mat-toolbar-row
    >
  </button>

  <button mat-button aria-label class="setting">
    <mat-toolbar-row
    ><mat-icon>settings</mat-icon> 𝑺𝒊𝒕𝒆 𝑺𝒆𝒕𝒕𝒊𝒏𝒈</mat-toolbar-row
    >
  </button>
</mat-toolbar>
