mat-toolbar-row:hover{
  background-color:#ff99ff;
}

.sidenav-toolbar{
  background-color:#ff99ff;
}

.home{
  width: 95px;
  left: 46px;
}
.home-icon{
  position: relative;

}

.account{
  top: 25%;
  position: fixed;
  width: 170px;
}

.catalogue{
  top: 34%;
  position: fixed;
  width: 170px;
}

.setting{
  top:43%;
  position: fixed;
  width: 170px;
}
