.product-lists {
  position: absolute;
  width: 1200px;
  top: 19%;
  right: 16%;
}

mat-grid-tile {
  background: rgb(255, 230, 230);
}
.top-left-box{
  border-top-left-radius: 8px;
}
.top-right-box{
  border-top-right-radius: 8px;
}
.bottom-left-box{
  border-bottom-left-radius: 8px;
}
.bottom-right-box{
  border-bottom-right-radius: 8px;
}
