.example-container {
  float: right;
}

.logobg {
  transform: rotate(
      15deg
  );
  right: 52px;
  top: 12px;
  position: absolute;
  height: 82px;
  opacity: 0.5;
  width: 142px;
}

.logo {
  right: -8px;
  position: relative;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  float: right;

  box-shadow: 0px 6px 4px rgb(0 0 0 / 25%), inset 4px 0px 4px rgb(0 0 0 / 25%);
}

.mat-drawer-content {
  background-color: white;
}

.mat-sidenav {
  border-top-left-radius: 20px;
  left: 85%;
}
.slide-menu{
  position: relative;
  top: 30px;
}
