.example-card {
  max-width: 400px;
  margin: 100px;

}

.example-card {
  max-width: 550%;
  height: 520px;
  left: 73px;
  top: 20px;
  width: 1025px;
  position: relative;
  box-shadow: 0px 0px 2px 4px rgb(0 0 0 / 3%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.example-header-image {
  height: 470px;
  right: 0px;
  position: absolute;
}

.product-title {
  font-size: 55px;
  left: 240px;
  position: absolute;
  bottom: 430px;
}
.mat-title{
  font-size: 100px;
}

.whole-products {
  position: relative;

}

.products-grid {
  top: 115px;
  margin: auto;
  position: relative;
  width: 67.8%;
  left: -75px;
  border: 3px solid lightpink;
  box-shadow: 6px 0px 49px rgb(0 0 0 / 25%), inset 500px 0 79px rgb(235 199 217 / 38%);
}

.megamenu-panel {
  position: absolute;
  right: 320px;
  bottom: 595px;
  width: 1029px;
  top: 9.6%;
}

.adding-card-bot {
  bottom: 24px;
  position: absolute;
  left: 35px;
  width: 280px;
  height: 50px;
}

.price {
  position: absolute;
  left: 220px;
  bottom: 32px;
}

.producer{
  position: absolute;
  right: 619px;
  bottom: 127px;
  font-size: 17px;
  max-width: 10%;
}

.producer-name{
  position: absolute;
  right: 485px;
  bottom: 127px;
  font-size: 20px;
}

.p-info{
  position: absolute;
  font-size: 25px;
  right: 561px;
  top: 239px;
}

.back-but{
  position: absolute;
  bottom: 607px;
  left: 181px;
  top: auto;
}
