<mat-toolbar class="sidenav-toolbar">
  <div>
    <mat-toolbar-row>𝐵𝒶𝓂𝒷𝒾 𝒮𝒽𝑜𝓅</mat-toolbar-row>
  </div>
  <button mat-button aria-label class="home">
    <mat-toolbar-row>
      <mat-icon>home</mat-icon>
      𝘏𝘰𝘮𝘦
    </mat-toolbar-row>
  </button>

  <button mat-button aria-label routerLink="/sidebar/sidebar-catalogue/sidebar-catalogue-type/sidebar-catalogue-type-makeup" class="type">
    <mat-toolbar-row>
      <mat-icon> arrow_right</mat-icon>
      لوازم آرایشی
    </mat-toolbar-row>
  </button>

  <button mat-button aria-label routerLink="/sidebar/sidebar-catalogue/sidebar-catalogue-type/sidebar-catalogue-type-health" class="color">
    <mat-toolbar-row>
      <mat-icon> arrow_right</mat-icon>
      لوازم بهداشتی
    </mat-toolbar-row
    >
  </button>

  <button mat-button aria-label class="back" routerLink="/sidebar/sidebar-catalogue">
    <mat-toolbar-row>
      <mat-icon>
        keyboard_backspace
      </mat-icon>
    </mat-toolbar-row>

  </button>
</mat-toolbar>
