<mat-toolbar class="sidenav-toolbar">
  <div>
    <mat-toolbar-row>𝐵𝒶𝓂𝒷𝒾 𝒮𝒽𝑜𝓅</mat-toolbar-row>
  </div>
  <button mat-button aria-label class="home">
    <mat-toolbar-row>
      <mat-icon>home</mat-icon>
      𝘏𝘰𝘮𝘦
    </mat-toolbar-row>
  </button>

  <button mat-button aria-label class="greasy">
    <mat-toolbar-row>
      <mat-icon> view_module</mat-icon>
      چرب
    </mat-toolbar-row>
  </button>

  <button mat-button aria-label class="wet">
    <mat-toolbar-row>
      <mat-icon> color_lens</mat-icon>
      خشک
    </mat-toolbar-row
    >
  </button>

  <button mat-button aria-label class="all">
    <mat-toolbar-row
    >
      <mat-icon> face_retouching_natural</mat-icon>
      مختلط
    </mat-toolbar-row
    >
  </button>

  <button mat-button aria-label class="back" routerLink="/sidebar/sidebar-catalogue">
    <mat-toolbar-row>
      <mat-icon>
        keyboard_backspace
      </mat-icon>
    </mat-toolbar-row>

  </button>
</mat-toolbar>
